{% extends 'base.html' %}

{% block content %}
<h2 class="title">Iniciar sesión</h2>
<form method="post" class="box">
  {% csrf_token %}
  <div class="field">
    <label class="label">Usuario</label>
    <div class="control">
      <input class="input" type="text" name="username" placeholder="Escribe tu usuario">
    </div>
  </div>
  <div class="field">
    <label class="label">Contraseña</label>
    <div class="control">
      <input class="input" type="password" name="password" placeholder="Escribe tu contraseña">
    </div>
  </div>
  <button type="submit" class="button is-link">Entrar</button>
</form>
{% if error %}
  <p class="notification is-danger">{{ error }}</p>
{% endif %}
{% endblock %}